* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* adding fonts */

@font-face {
    font-family: 'DINAlternateBold';
    src: url('../css/fonts/DINAlternateBold.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir';
    src: url('../css/fonts/Avenir.otf') format('opentype')
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/Roboto-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Louis George Cafe Italic';
    font-style: italic;
    src: url('../css/fonts/louis-george-cafe-italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Louis George Cafe';
    font-style: normal;
    src: url('../css/fonts/LouisGeorgeCafe.ttf') format('truetype')
}

.nav__items {
    padding: 1.25rem 0 0 0;
}

.navelement {
    font-size: 1.6rem;
    font-family: 'DINAlternateBold', 'Roboto', 'Louis George Cafe', sans-serif;
    padding: 0 1rem;
    float: left;
}


h1, h3 {
    font-family: 'DINAlternateBold', 'Roboto', 'Louis George Cafe', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.aboutme__text {
    font-family: 'Avenir', 'Roboto', 'Louis George Cafe', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    font-style: normal;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    
}

.aboutme__text p {
    padding: 1rem;
}


/* overflow hidden is put here to stop the content in the center class from scrolling off the screen  */

.center {
    padding: 5rem 0;
    overflow: hidden;
    position: relative;
}

.home__maintext {
    font-size: 0.75rem;
    margin: auto;
    width: 75%;
    height: 100%;
    padding: 1rem 0; 
    max-width: 600px;
}

.aboutme__text p:nth-child(4) {
    padding-bottom: 4rem;
}

.text__image {
    position: relative;
    display: block;
    margin: auto;
    top: 1.5rem;
    right: -1.5rem;
    height: 3.75rem;
    width: 6rem;
    
}

.logo {
    height: 6rem;
    width: 4rem;
    margin: 1.5rem;
    float: left;
}


.home__social {
    position: absolute;
    bottom: 1rem;
    right: 12.5vw;
    height: 4rem;
}

a:link {
    color: #5CB9FF;
}

a:visited {
    color: #4919CC;
}


.aboutme__img img {
    display: block;
    border-radius: 100%;
    margin: 1rem auto 0.5rem auto;

}

.uiux__content {
    padding: 0 2rem;
}

.portfolio__card {
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
}

.portfolio__card h3 {
    font-size: 1.5rem;
}

.portfolio__card p {
    font-family: 'Avenir', 'Roboto', 'Louis George Cafe', sans-serif;
}

.portfolio__card a {
    margin: 0.5rem 0;
    text-decoration: none;
    color: black;
}

.portfolio__card img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
}


.resume {
    padding: 2rem;
    font-size: 1.2rem;
    font-family: 'Avenir', 'Roboto', 'Louis George Cafe', sans-serif;
    margin: auto;
    max-width: 600px;
    line-height: 2.5rem;
}

.resume__list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.resume__list li {
    padding: 0.75rem;
}

.resume h1 {
    padding-bottom: 1rem;
}

#xp {
    padding-bottom: 1rem;
}

.resume p {
    padding-bottom: 0.5rem;
}

.page__title {
    text-align: center;
}

/* case study */

.casestudy__content {
    margin: auto;
    max-width: 600px;
    padding: 2rem;
}
.casestudy__content p, h3 {
    padding: 1rem 0;
}

.casestudy__content h3 {
    font-size: 2rem;
}

.casestudy__content p {
    font-family: 'Avenir', 'Roboto', 'Louis George Cafe', sans-serif;
    font-size: 1.3rem;
}

.casestudy__content figcaption {
    font-family: 'Louis George Italic', 'Avenir', 'Roboto', sans-serif;
    padding: 1rem 0;
    text-decoration: underline;
    font-style: italic;
}

.casestudy__img {
    width: 100%;
    height: 100%;
}

.back {
    font-family: 'DINAlternateBold', 'Roboto', 'Louis George Cafe', sans-serif;
    text-align: center;
}

.fig__compare {
    max-width: 45%;
    float: left;
}

.clear__float {
    clear: both;
}

/* photo card */

.photo__card {
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
}

.photo__card img {
    width: 100%;
    height: 100%;
}
