* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'DINAlternateBold';
    src: url('../css/fonts/DINAlternateBold.otf') format('opentype')
}


.center {
    padding: 5rem 0; 
}

.text__image {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin: 1.5rem;
    position: relative;
    top: 6rem;
    left: 9rem;
}

.home__maintext {
    font-family: 'DINAlternateBold';
    font-weight: normal;
    font-style: normal;
    font-size: 0.75rem;
    margin: auto;
    width: 75%;
    padding: 1rem 0; 
}

.logo {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin: 1.5rem 
}

