* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: auto;
}

@font-face {
    font-family: 'DINAlternateBold';
    src: url('../css/fonts/DINAlternateBold.otf') format('opentype')
}

h1, h3 {
    font-family: 'DINAlternateBold';
    font-weight: normal;
    font-style: normal;
}

.aboutme__text {
    padding-top: 1rem;
    margin: 0 0 2rem 0;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    max-width: 600px;
    margin: auto;
}

.aboutme__text p {
    padding: 1rem;
}


/* overflow hidden is put here to stop the content in the center class from scrolling off the screen  */

.center {
    padding: 5rem 0;
    overflow: hidden;
    position: relative;
}

.home__maintext {
    font-size: 0.75rem;
    margin: auto;
    width: 75%;
    height: 100%;
    padding: 1rem 0; 
    max-width: 600px;
}

/* using viewport values so that the image still is positioned nicely on larger screens */


.text__image {
    position: absolute;
    top: 3rem;
    right: 33vw;
    height: 3.75rem;
    width: 6rem;
    
}

.logo {
    height: 6rem;
    width: 4rem;
    margin: 1.5rem;
}



.home__social {
    position: absolute;
    bottom: 1rem;
    right: 12.5vw;
    height: 4rem;
}

a:link {
    color: #5CB9FF;
}

a:visited {
    color: #4919CC;
}


.aboutme__img img {
    display: block;
    border-radius: 100%;
    margin: 0 auto;

}

.uiux__content {
    padding: 0 2rem;
}

.portfolio__card {
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
}

.portfolio__card h3 {
    margin: 0.5rem 0;
}

.portfolio__card a {
    margin: 0.5rem 0;
    text-decoration: none;
    color: black;
}

.portfolio__card img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
}


.resume {
    padding: 1rem;
    font-family: sans-serif;
    margin: auto;
    max-width: 600px;
}

.resume__list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.resume h1 {
    padding-bottom: 1rem;
    
}

#xp {
    padding-bottom: 1rem;
}

.resume p {
    padding-bottom: 0.5rem;
}